/.DS_STORE
/.env
/.git
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.tmp
/.versions
/.vscode

/*~
/*.log
/*.sublime-project
/*.sublime-workspace
/*.sw[mnpcod]
/*.tmp
/*.tmp.*

/npm-debug.log*

/__MACOSX/
/compiled/
/node_modules/
/platforms/
/plugins/
/resources/
/www/
