
@import "../themes";

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "theme.dusk";
@import "theme.dawn";

/** Ionic CSS Variables **/
:root {

  /* white */
    --ion-color-white: #ffffff;
    --ion-color-white-active: #cccccc;

  /* dark white */
    --ion-color-darkwhite: #e7eaf0;
    --ion-color-darkwhite-active: #fff;

  /* gray */
    --ion-color-gray: #434b5e;
    --ion-color-gray-active: #1e2432;

  /* success */
    --ion-color-success: #24a755;

  /* danger */
    --ion-color-danger: #d83e5c;

  /* dark */
    --ion-color-dark: #7b7d82;
    --ion-color-dark-active: #fff;

  /* pink */
    --ion-color-pink: #f74264;
    --ion-color-pink-active: #fff;

  /* p, span, label:  normal text dark mode color */
    --ion-color-text: #535862;

  /* form, input, textarea.... normal background dark mode color */
    --ion-color-input-back: #29303d;
    --ion-color-valid-error-back: #602e43;

  --ion-toolbar-height: 80px;
  --ion-playbar-height: 80px;
  --ion-menubar-height: 270px;
  --ion-userbar-height: 270px;
}