.color_white { color: #fff; }
.color_darkwhite { color: #e7eaf0; }
.color_gray { color: #434b5e; }
.color_success { color: #24a755; }
.color_danger { color: #d83e5c; }
.color_dark { color: #7b7d82; }
.color_pink { color: #f74264; }
.color_lightgray { color: #535862; }

.color_background_input { background: #29303d; }
.color_background_valid_error { background: #602e43; }
.validation-errors { color: #d83e5c; font-size: 13px;}