.hide-xs {
    @media(min-width: 0px) and (max-width: 576px) {
        display: none !important;
    }
}
.hide-sm {
    @media(min-width: 576px) and (max-width: 767px) {
        display: none !important;
    }
}
.hide-md {
    @media(min-width: 767px) and (max-width: 992px) {
        display: none !important;
    }
}
.hide-lg {
    @media(min-width: 991px) and (max-width: 1200px) {
        display: none !important;
    }
}
.hide-xl {
    @media(min-width: 1199px){
        display: none !important;
    }
}