<div class="toolbar" id="toolbar">
    <!-- For Desktop -->
    <ion-row class="hide-xs">
        <ion-col size-xl="8" size-lg="8" size-md="8" size-sm="7">
            <div class="searchWrapper">
                <div class="beforeSpace">
                    <i class="fad fa-bars" *ngIf="!isMenuPanelShowed" (click)="showMenuBar()" nbTooltip="SHOW" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger"></i>
                </div>
                <div class="logoWrapper" *ngIf="!isMenuPanelShowed">
                    <ion-img [src]="'/assets/icon/ico_arena_white.png'" class="hide-xm hide-md hide-lg hide-xl ico_logo_small" *ngIf="selectedTheme == 'dusk-theme'"></ion-img>
                    <ion-img [src]="'/assets/icon/ico_arena.png'" class="hide-xm hide-md hide-lg hide-xl ico_logo_small" *ngIf="selectedTheme == 'dawn-theme'"></ion-img>
                    <ion-img [src]="'/assets/icon/ico_logo_title.png'" class="hide-xs hide-sm ico_logo_big" *ngIf="selectedTheme == 'dusk-theme'"></ion-img>
                    <ion-img [src]="'/assets/icon/ico_logo_title_dark.png'" class="hide-xs hide-sm ico_logo_big" *ngIf="selectedTheme == 'dawn-theme'"></ion-img>
                </div>
                <div class="searchBar">
                    <i class="fad fa-file-search fa-1x"></i>
                    <input type="text" class="searchInput" placeholder="Search..." id="searchInput" #a (focus)="focusSearchInput(a)" (focusout)="focusoutSearchInput(a)"/>
                </div>
            </div>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="5">
            <div class="statusWrapper" *ngIf="isAuthenticated">
                <div class="status empty"></div>
                <div class="status alarm">
                    <i class="fad fa-bells" nbTooltip="NOTIFICATIONS" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger"></i>
                </div>
                <div class="status coin">
                    <i class="fad fa-coins" nbTooltip="ARENA CREDITS" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger"></i>
                </div>
                <div class="status bucket">
                    <span></span>
                    <i class="fad fa-cart-arrow-down" nbTooltip="MERCHANDISE CART" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger"></i>
                </div>
                <div class="status avatar">
                    <i class="fad fa-bars" (click)="openUserPanel()" nbTooltip="SHOW" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger" *ngIf="!isUserPanelShowed"></i>
                </div>
            </div>
            <div class="authWrapper" *ngIf="!isAuthenticated">
                <div class="empty"></div>
                <div class="auth">
                    <a (click)="onSubmit()"><i class="fad fa-user"></i>&nbsp;Sign In</a>
                </div>
                <div class="auth">
                    <a><i class="fad fa-user-plus"></i>&nbsp;Sign Up</a>
                </div>
                <div class="cart">
                    <span></span>
                    <i class="fad fa-cart-arrow-down" nbTooltip="CART" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger"></i>
                </div>
            </div>
        </ion-col>
    </ion-row>

    <!-- Mobile -->    
    <div class="hide-lg hide-xl hide-md hide-sm full-width full-height">
        <div class="mobile_toolbar">
            <div class="menu_buttons">
                <i class="fad fa-bars" (click)="showMenuBar_Mobile()"></i>
            </div>
            <div class="mobile_logo_wrapper">
                <ion-img [src]="'/assets/icon/ico_arena_white.png'" class="ico_logo_small" *ngIf="!isMenuPanelShowed && selectedTheme == 'dusk-theme'"></ion-img>
                <ion-img [src]="'/assets/icon/ico_arena.png'" class="ico_logo_small" *ngIf="!isMenuPanelShowed && selectedTheme == 'dawn-theme'"></ion-img>
            </div>
            <div class="mobile_status_wrapper" *ngIf="isAuthenticated">
                <div class="wrapper">
                    <div class="status"><i class="fad fa-search"></i></div>
                    <div class="status"><i class="fad fa-cart-arrow-down"></i></div>
                    <div class="status"><i class="fad fa-bells"></i></div>
                    <div class="status"><i class="fad fa-coins"></i></div>
                    <div class="status">
                        <i class="fad fa-bars" (click)="openUserPanel()" nbTooltip="SHOW" nbTooltipPlacement="bottom" nbTooltipStatus="danger" status="danger" *ngIf="!isUserPanelShowed"></i>
                    </div>
                </div>
            </div>
            <div class="mobile_auth_wrapper" *ngIf="!isAuthenticated">
                <div class="wrapper">
                    <div class="auth">
                        <a (click)="onSubmit()">SignIn</a>
                    </div>
                    <div class="auth">
                        <a>SignUp</a>
                    </div>
                    <div class="cart">
                        <span></span>
                        <i class="fad fa-cart-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>